---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "Home";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome to my astro tutorial!</h2>
</BaseLayout>